name: test project

on:
  push:
    branches:
      - '**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set up jdk21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          cache: 'gradle'
          distribution: 'temurin'

      - name: setup gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.3
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: build and run tests
        run: gradle clean test jacocoTestReport --stacktrace

      - name: upload report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: |
            build/reports/tests/
            build/reports/jacoco/
          retention-days: 5